<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Portfolio
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200,300;0,400;0,700;1,300&display=swap")
	body
		// HEADER
		header.header
			.container
				.header__inner
					.user
						.user__avatar
							img(src="https://place-hold.it/57/003366" alt="Lewis Nathaniel")
						.user__content
							.user__name Lewis<br>Nathaniel
							.user__prof UI & UX Designer
					nav.nav
						a(class='nav__link' href="#") work
						|
						|
						a(class='nav__link' href="#") about me
						|
						|
						a(class='nav__link' href="#") blog
						|
						|
						a(class='nav__link' href="#") contact
						|
						|
						a(class='nav__link nav__link--btn' href="#") hire me
		// INTRO
		section.intro
			.container
				.intro__inner
					.intro__content
						h2.intro__subtitle Hello, I’m
						h1.intro__title Lewis Nathaniel
						.intro__text UI & UX Designer
						.social
							a(class='social__link' href="#"): img(src="images/icons/behance.svg" alt="")
							|
							|
							a(class='social__link' href="#"): img(src="images/icons/dribbble.svg" alt="")
							|
							|
							a(class='social__link' href="#"): img(src="images/icons/facebook.svg" alt="")
							|
							|
							a(class='social__link' href="#"): img(src="images/icons/in.svg" alt="")
							|
							|
							a(class='social__link' href="#"): img(src="images/icons/instagram.svg" alt="")
							|
							|
							a(class='social__link' href="#"): img(src="images/icons/twitter.svg" alt="")
						a(class='btn' href="#") HiRE ME
						button(class="btn" type="button") SEE MY RESUME
					img(class="intro__photo" src="images/photo.png" alt="")
		// WORKS
		.works
			.container
				.works__nav
					a(class="works__nav-link" href="#") All
					|
					|
					a(class="works__nav-link" href="#") App
					|
					|
					a(class="works__nav-link" href="#") Websites
					|
					|
					a(class="works__nav-link" href="#") Interaction
				.portfolio
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='work__date' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='work__date' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='work__date' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='work__date' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='work__date' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='.work__dat' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='work__date' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='work__date' datetime='2020-06-30 17:30') 2020
					.portfolio__col
						.work
							img(class="work__img" src="https://placehold.it/370x300/#2F4F4F" alt="")
							.work__content
								.work__cat CATEGORY
								.work__title PROJECT TITLE
									time(class='.work__dat' datetime='2020-06-30 17:30') 2020
				.text-center
					a(class="btn btn--sm" href="#") LOAD MORE WORK
		// ABOUT
		section.about
			.container
				.about__inner
					.about__photo
						img(class='img' src='images/designer_photo.png' alt='')
					.about__content
						h3(class='about__title') ABOUT ME
						h2(class='about__bigtitle') WHO AM I
						.about__text
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus illum tenetur eligendi possimus ratione dignissimos, doloremque fugit in, suscipit accusantium, provident nihil est dolore cum aperiam labore nostrum! Magni.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto fugit quisquam eaque quis sequi sunt, delectus facilis unde ipsam eius deleniti laboriosam nemo officiis distinctio maiores, at esse veritatis architecto.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illo, consectetur consequatur, distinctio aspernatur est sequi veritatis officia ex dolore expedita corrupti provident laudantium quo debitis quam itaque nemo esse.
						a(class='btn' href='#') HIRE ME
						button(class='btn' type='button') SEE MY RESUME 