// main: ../style.less

.burger {
	width: 30px;
	height: 30px;

	padding: 0;
	border: 0;
	background: none;

	display: none;

	margin-right: 1rem;

	@media @mobile {
		display: block;
		outline: none;
	}
	.fa {
		font-size: 2rem;
	}
}
.burger__bar {
	display: block;
	max-width: 100%;
	height: auto;
}
