// main: ../style.less


.footer {
	background-color: @black;
    padding: .86rem 0;
}
.footer__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__credits {
	display: flex;
	align-items: center;

	@media @tablet {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
    }

    @media @mobile-sm {
        flex-direction: column;
    }
}
.footer__copyright {
	font-size: .93rem;
	font-weight: 400;
	color: #8D8D8E;
	letter-spacing: .03rem;

	border-right: 1px solid fade(@gray, 35%);
	padding-right: 2rem;

	@media @mobile-sm {
        margin-right: 0;
        margin-bottom: 1rem;
        border-right: 0;
        padding-right: 0;
    }
}
.footer__social {
	padding-left: 2rem;
	display: flex;
	align-items: center;

	a {
		padding-right: 1rem;

		@media @tablet {
            margin: 0 .5rem;
        }

        @media @mobile-sm {
        	margin: 0 auto;
        	padding: 0 .5rem;
        }
	}

	@media @mobile-sm {
			padding-left: 0;
        }
}
.footer__nav {
	display: flex;
	align-items: center;

	.btn {
		padding: .6rem 1.66rem;
		margin-left: 2.2rem;
		text-transform: uppercase;
		border-radius: 20px;
		line-height: 1.06;

		&:hover {
			background-color: #8D8D8E;
			color: @black;
		}

		@media @mobile-sm {
			margin: 1rem auto;
        }
	}

	@media @tablet {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

}
.footer__nav-link {
	text-decoration: none;
	color: #8D8D8E;
	font-size: .93rem;
	padding-left: 1rem;
	letter-spacing: .03rem;

	@media @tablet {
        margin: 0 .5rem .5rem;
    }

    @media @mobile-sm {
			padding: 0 .4rem;
        }
}