// MODAL_CONTACT
.modal(id='modal_contact')
	.modal__dialog.modal__dialog--sm
		button(class='modal__close' data-close type='button'): img(src='images/icons/close.svg' alt='')
		.contact
			.contact-left
				h3(class='modal__title mb-0') LET'S TALK!
				.modal__subtitle CALL ME OR SEND ME A REQUEST
				ul.contact__info
					li <i class="fa fa-phone" aria-hidden="true"></i> (200) 100 3000
					li <i class="fa fa-envelope-o" aria-hidden="true"></i> designer@ui43.com
				form(class='form' action='/' method='post')
					.form__group
						label(class='form__label' for='input-email') Adress e-mail
						input(class='form__input' name='input-email' type='text' id='input-email' 	placeholder='E-mail')
					.form__group
						label(class='form__label' for='input-text') Request
						textarea(class='form__textarea' name='input-text' id='input-text' placeholder='Type your request...')
					.text-right
						button(class='btn btn--send' type='submit') SEND
			.contact-right