// MODAL_RESUME
.modal(id='modal_resume')
	.modal__dialog
		button(class='modal__close' data-close type='button'): img(src='images/icons/close.svg' alt='')
		.modal__content
			.text-center
				h3(class='modal__title') RESUME
			.text-center
				a(class='btn btn--thin' href='#') DOWNLOAD PDF
				a(class='btn btn--thin' href='#') PRINT
			.timeline
				.timeline__col.timeline__col--left
					h4.timeline__title EXPERIENCE
					.timeline__item
						time(class='timeline__date' datetime='2020-07-05') 2017 - <b>Present</b>
						h5.timeline__subtitle Freelancer
						.timeline__position Art Director
						.timeline__text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam cumque nam adipisci vero sit, perspiciatis tenetur ipsa ducimus! Porro vel voluptate id perferendis reprehenderit, ad ipsum excepturi, vero at.
					.timeline__item
						time(class='timeline__date' datetime='2020-07-05') 2016 - 2017
						h5.timeline__subtitle The Best Agency
						.timeline__position Art Director
						.timeline__text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam cumque nam adipisci vero sit, perspiciatis tenetur ipsa ducimus! Porro vel voluptate id perferendis reprehenderit, ad ipsum excepturi, vero at.
					.timeline__item
						time(class='timeline__date' datetime='2020-07-05') 2014 - 2016
						h5.timeline__subtitle Better Agency
						.timeline__position Senior UI/UX Designer
						.timeline__text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam cumque nam adipisci vero sit, perspiciatis tenetur ipsa ducimus! Porro vel voluptate id perferendis reprehenderit, ad ipsum excepturi, vero at.
					.timeline__item
						time(class='timeline__date' datetime='2020-07-05') 2012 - 2014
						h5.timeline__subtitle Good Agency
						.timeline__position UI/UX Designer
						.timeline__text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam cumque nam adipisci vero sit, perspiciatis tenetur ipsa ducimus! Porro vel voluptate id perferendis reprehenderit, ad ipsum excepturi, vero at.
				.timeline__col.timeline__col--right
					h4.timeline__title EDUCATION
					.timeline__item
						time(class='timeline__date' datetime='2020-07-05') 2005 - 2010
						h5.timeline__subtitle UI/UX Design
						.timeline__position LA University, USA
					.timeline__item
						time(class='timeline__date' datetime='2020-07-05') 2002 - 2005
						h5.timeline__subtitle UI/UX Design
						.timeline__position LA Collage of Art, USA
					h4.timeline__title SKILLS
					.progress-bar
						.progress-bar__item
							.progress-bar__left
								.progress-bar__title UI/UX Design
							.progress-bar__right
								.progress-bar__bar
									.progress-bar__progress
						.progress-bar__item
							.progress-bar__left
								.progress-bar__title Illustrator
							.progress-bar__right
								.progress-bar__bar
									.progress-bar__progress
						.progress-bar__item
							.progress-bar__left
								.progress-bar__title Photoshop
							.progress-bar__right
								.progress-bar__bar
									.progress-bar__progress
						.progress-bar__item
							.progress-bar__left
								.progress-bar__title Sketch
							.progress-bar__right
								.progress-bar__bar
									.progress-bar__progress
					h4.timeline__title AWARDS
					.timeline__item-awards
						time(class='timeline__date' datetime='2020-07-05') 2015
						.timeline-block
							h5.timeline__subtitle THE BEST APP INTERFACE
							.timeline__position UI/UX Magazine
							.timeline__text
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam cumque nam adipisci vero sit, perspiciatis tenetur ipsa ducimus!
					.timeline__item-awards
						time(class='timeline__date' datetime='2020-07-05') 2016
						.timeline-block
							h5.timeline__subtitle THE BEST WEBSITE
							.timeline__position UI/UX Magazine
							.timeline__text
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam cumque nam adipisci vero sit, perspiciatis tenetur ipsa ducimus!
			.text-center
				a(class="btn" href="#") HiRE ME